*{
  text-decoration: none;
  text-decoration-color: #fff;
  margin: 0;
  padding: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.2rem;
  border-bottom: 1px solid #b30000;
}

.volver {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.6rem 1.2rem;
  background: red;
  color: white;
  border-radius: 6px;
}

.volver:hover {
  background: darkred;
}
