*{
  text-decoration: none;
  text-decoration-color: #fff;
  color: white;
  margin: 0;
  padding: auto;
}

body{
  background: linear-gradient(135deg, #111 60%, #b30000 100%);
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.2rem;
}

.volver {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.6rem 1.2rem;
  background: red;
  color: white;
  border-radius: 6px;
}

.volver:hover {
  background: darkred;
}

hr {
  width: 80%;
  border: 1px solid rgb(196, 22, 22);
  margin: 0.1rem auto;
  margin-bottom: 20px;
}
